/* pik ♠︎ kier ♥︎ trefl ♣ karo ♦ */
body{
	background-color: green;
	margin: 0;
	padding: 10px;
	position: relative;
	user-select: none;
}
/* TOP */
#left, #right{
	float: left;
	height: calc(var(--ch) + 10px);
}
#left{
	width: 30%;
	max-width: calc(var(--cw) * 2 + 40px);
}
#right{
	float: right;
	width: 60%;
	max-width: calc(var(--cw) * 4 + 80px);
}
.column0{
	float: left;
	width: calc(100% / 2);
}
.column1{
	float: right;
	width: calc(100% / 4);
}
/* BOTTOM */
#bottom{
	max-width: calc(var(--cw) * 7 + 140px);
	margin: 0 auto;
}
.column2{
	float: left;
	width: calc(100% / 7);
}
/* Universal */
.column0, .column1, .column2{
	position: relative;
	top: 0px;
	left: 0px;
}
div{
	min-height: 1px;
}
.empty, .card, .hidecard, .pickcard{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: var(--cw);
	height: var(--ch);
	border: 1px solid black;
	border-radius: 10px;
}
.empty{
	background-color: darkgreen;
}
.card{
	background-color: white;
	cursor: grab;
	text-align: center;
	line-height: calc((var(--ch) / 8));
}
.hidecard{
	background-color: blue;
	color: bule;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pickcard{
	background-color: blue;
	cursor: pointer;
}
.pickcardRedro{
	background-color: darkgreen;
}
.cb{
	clear: both;
}
.dragging{
	background-color: gray;
}
.pik{color: black;} /*♠︎*/
.pik:after{
	content: "♠︎";
}
.kier{color: red;} /*♥︎*/
.kier:after{
	content: "♥︎";
}
.trefl{color: black;} /*♣*/
.trefl:after{
	content: "♣";
}
.karo{color: red;} /*♦*/
.karo:after{
	content: "♦";
}
#win{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	font-size: 50vh;
	color: red;
}

section:last-child{
	font-size: 16px;
	position: absolute;
	top: 100vh;
	left: 100vw;
	width: 100vw;
	text-align: right;
	transform: translate(calc(-100% - 10px), calc(-100% - 10px));
}
section:last-child a{
	text-decoration: none;
	color: white;
}
section:last-child a:hover{
	text-decoration: underline;
}